* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rbga(0, 0, 0, 0);
}
body {
  font-family: '微软雅黑';
}
img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
input,
button,
select,
textarea {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/*禁用了文本的拖拉，尤其在谷歌下*/
textarea {
  resize: none;
}
/*为了使文本段落左右两边对齐*/
p {
  text-align: justify;
  text-justify: distribute;
}
/*======== Link ========*/
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
/*清空浮动的代码-start*/
.clr:after {
  content: "";
  display: table;
  clear: both;
}
.clr {
  *zoom: 1;
}
/*清空浮动的代码-end*/
/* 页面元素初始化和常用样式定义-end */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?19tb89');
  src: url('../fonts/icomoon.eot?19tb89#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?19tb89') format('truetype'), url('../fonts/icomoon.woff?19tb89') format('woff'), url('../fonts/icomoon.svg?19tb89#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.fri_slidebox {
  display: none;
  z-index: 1000;
  width: 100%;
  height: 202.02531646vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.312);
  overflow: hidden;
}
.fri_slidebox .slideout {
  animation: slideout 0.3s ease-in forwards;
}
.fri_slidebox .slidein {
  animation: slidein 0.3s ease-out forwards;
}
.fri_slidebox .fri_box {
  font-size: 3.5443038vw;
  position: absolute;
  top: 0;
  right: -80%;
  height: 100%;
  width: 80%;
  background-color: #fff;
}
.fri_slidebox .fri_box .System_notification {
  width: 100%;
  height: 21.7721519vw;
  background-color: #bbf;
  display: flex;
  align-items: center;
  padding: 2.53164557vw 3.03797468vw;
}
.fri_slidebox .fri_box .System_notification .System_icon {
  width: 15.69620253vw;
  height: 15.69620253vw;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5.06329114vw;
}
.fri_slidebox .fri_box .System_notification .notice {
  height: 15.69620253vw;
  width: 53.16455696vw;
}
.fri_slidebox .fri_box .System_notification .notice p {
  margin-top: 2.53164557vw;
}
.fri_slidebox .fri_box .fir_li {
  width: 100%;
}
.fri_slidebox .fri_box .fir_li li {
  margin-top: 3.03797468vw;
  width: 100%;
  height: 21.26582278vw;
  border: 1px solid #bbb;
  overflow: hidden;
}
.fri_slidebox .fri_box .fir_li li a {
  display: flex;
  align-items: center;
  padding: 2.53164557vw 3.03797468vw;
  width: 100%;
  height: 100%;
}
.fri_slidebox .fri_box .fir_li li .fri_avatar {
  width: 15.69620253vw;
  height: 15.69620253vw;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5.06329114vw;
}
.fri_slidebox .fri_box .fir_li li .notice {
  height: 15.69620253vw;
  width: 53.16455696vw;
}
.fri_slidebox .fri_box .fir_li li .notice p {
  margin-top: 2.53164557vw;
}
@keyframes slideout {
  0% {
    right: -80%;
  }
  100% {
    right: 0;
  }
}
@keyframes slidein {
  0% {
    right: 0;
  }
  100% {
    right: -80%;
  }
}
header {
  width: 100%;
  height: 14.17721519vw;
  background-image: url(../images/顶栏-1.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.78481013vw;
}
header .header_left .header_btn {
  background-color: transparent;
  background-image: url(../images/返回.png);
  background-size: cover;
}
header .header_right {
  display: flex;
  align-items: center;
}
header .header_btn {
  width: 11.39240506vw;
  height: 11.39240506vw;
  border: none;
  border-radius: 50%;
  text-align: center;
  line-height: 11.39240506vw;
  font-size: 3.5443038vw;
  overflow: hidden;
}
header .header_btn a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  height: 167.59493671vw;
  width: 100%;
  background-image: url(../images/背景.jpg);
  background-size: cover;
}
.container .triangle {
  position: absolute;
  background: #63cbff;
  clip-path: polygon(0 0, 100% 0, 0 100%, 0 0);
  overflow: hidden;
}
.container .triangle a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.container .triangle span {
  position: absolute;
  font-size: 3.5443038vw;
}
.container .friend_invitation {
  width: 26.83544304vw;
  height: 26.83544304vw;
  top: 26.07594937vw;
  left: 17.97468354vw;
  transform: rotate(-16deg);
}
.container .friend_invitation span {
  top: 4.05063291vw;
  left: 1.26582278vw;
  transform: rotate(16deg);
}
.container .random_matching {
  width: 28.10126582vw;
  height: 26.32911392vw;
  top: 63.03797468vw;
  left: 30.37974684vw;
  transform: rotate(310deg);
}
.container .random_matching span {
  top: 5.06329114vw;
  left: 1.26582278vw;
  transform: rotate(-310deg);
}
.container .enter_Learning {
  width: 39.74683544vw;
  height: 38.73417722vw;
  top: 86.07594937vw;
  left: 46.32911392vw;
  transform: rotate(174deg);
}
.container .enter_Learning span {
  top: 8.10126582vw;
  left: 5.06329114vw;
  transform: rotate(-174deg);
}
.popup {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 202.02531646vw;
  background-color: rgba(0, 0, 0, 0.312);
}
.popup .friend_invitation {
  position: absolute;
  top: 52.65822785vw;
  left: 10.12658228vw;
  width: 79.49367089vw;
  height: 124.05063291vw;
  background-color: #fff;
  border: 0.25316456vw solid #bbb;
  border-radius: 7.08860759vw;
}
.popup .friend_invitation .fi_header {
  width: 100%;
  height: 18.48101266vw;
  border-bottom: 1.01265823vw solid #000;
  overflow: hidden;
}
.popup .friend_invitation .fi_header h1 {
  width: 100%;
  height: 100%;
  line-height: 18.48101266vw;
  text-align: center;
  font-size: 7.08860759vw;
}
.popup .friend_invitation .menu {
  width: 100%;
}
.popup .friend_invitation .menu li {
  width: 100%;
  height: 16.20253165vw;
  border: 1px solid #bbb;
  padding: 0 4.05063291vw;
  line-height: 16.20253165vw;
  margin-top: 1.01265823vw;
}
.popup .friend_invitation .menu li img {
  width: 10.12658228vw;
  height: 10.12658228vw;
  border-radius: 50%;
}
.popup .friend_invitation .close {
  position: absolute;
  bottom: -19.74683544vw;
  left: 50%;
  transform: translateX(-50%);
  width: 16.20253165vw;
  height: 16.20253165vw;
  border: none;
  border-radius: 50%;
  background-color: #FFF;
  text-align: center;
  line-height: 16.20253165vw;
}
.popup .friend_invitation .close::after {
  font-family: 'icomoon';
  content: '\e914';
  font-size: 5.06329114vw;
}
.footer_nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  height: 20.25316456vw;
  padding: 0 6.32911392vw;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #bbbbbb;
}
.footer_nav .common {
  margin-bottom: 5.06329114vw;
  width: 21.26582278vw;
  height: 21.26582278vw;
  background-color: #ffffff;
  color: #101010;
  font-size: 3.5443038vw;
  line-height: 21.26582278vw;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #bbbbbb;
  overflow: hidden;
}
.footer_nav .common a {
  display: inline-block;
  width: 21.26582278vw;
  height: 21.26582278vw;
}
.footer_nav .function {
  margin-bottom: 11.39240506vw;
  width: 30.88607595vw;
  height: 30.88607595vw;
  line-height: 30.88607595vw;
  background-color: #bebebe;
  background-image: url(../images/功能图标-绿.png);
  background-size: cover;
  font-size: 9.11392405vw;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #bbbbbb;
  overflow: hidden;
}
.footer_nav .function a {
  color: #000;
  display: inline-block;
  width: 30.88607595vw;
  height: 30.88607595vw;
}
