//out:../css/
@import 'base';
@import 'fri_slidebox';
@vw: 3.95vw;

.header {
    display: flex;
    align-items: center;
    padding: 0 (11/@vw);
    width: (395/@vw);
    height: (56/@vw);
    background-image: url(../images/顶栏-1.jpg);
    background-size: cover;
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);

    .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 (5/@vw);
        width: (223/@vw);
        height: (32/@vw);
        border-radius: (16/@vw);
        background-color: rgba(255, 255, 255, 1);
        text-align: center;
        border: 1px solid rgba(187, 187, 187, 1);

        input {
            padding: 0 (5/@vw);
            width: (180/@vw);
            height: (20/@vw);
            border-radius: (16/@vw);
            border: 0;
        }

        .searchicon {
            width: (28/@vw);
            height: (28/@vw);
            line-height: (28/@vw);
            background-image: url(../images/搜索.png);
            background-size: cover;
            color: rgba(16, 16, 16, 1);
            font-size: (12/@vw);
            text-align: center;
            border-radius: 100%;
            background-color: #fff;
            border: none;
        }
    }

    .common {
        width: (48/@vw);
        height: (48/@vw);
        line-height: (48/@vw);
        background-color: rgba(255, 255, 255, 1);
        color: rgba(16, 16, 16, 1);
        font-size: (14/@vw);
        text-align: center;
        border-radius: 100%;
        border: 1px solid rgba(187, 187, 187, 1);
        overflow: hidden;

        a {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }

    .callup_icon {
        margin-left: (44/@vw);
    }

    .fri {
        margin-left: (12/@vw);
    }
}

.banner_body {
    position: relative;
    width: (395/@vw);
    height: (200/@vw);
    overflow: hidden;

    .bannner_swipe {
        width: 100%;
        height: (200/@vw);
        display: flex;

        .banner_swipe_item {
            width: 100%;
            height: 100%;
            min-width: 100%;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .spots {
        position: absolute;
        left: 50%;
        bottom: (10/@vw);
        margin-left: (-60/@vw);

        span {
            display: inline-block;
            width: (8/@vw);
            height: (8/@vw);
            background-color: #dddddd;
            border-radius: 50%;
            margin-right: (15/@vw);
        }

        .active {
            background-color: #3a3a3a;

        }

    }

}

.mould_show {
    margin: (10/@vw);
    margin-top: (14/@vw);
    margin-bottom: (85/@vw);
    width: (375/@vw);
    height: (430/@vw);
    border-radius: (19/@vw);
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);

    .title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 (8/@vw);
        margin-top: (16/@vw);
        width: 100%;
        height: (40/@vw);

        .recommend {
            height: 100%;
            color: rgba(16, 16, 16, 1);
            font-size: (28/@vw);
        }

        .more {
            height: 100%;
            color: rgba(159, 159, 159, 1);
            font-size: (14/@vw);
        }
    }

    .box {
        margin-top: (14/@vw);
        margin-left: (11/@vw);
        width: (349/@vw);
        height: (100/@vw);
        border-radius: (25/@vw);
        background-color: rgba(255, 255, 255, 1);
        text-align: center;
        border: 1px solid rgba(187, 187, 187, 1);

        .enter {
            margin: (14/@vw) 0;
            margin-right: (15/@vw);
            float: right;
            width: (72/@vw);
            height: (72/@vw);
            background-color: rgba(255, 255, 255, 1);
            color: rgba(16, 16, 16, 1);
            font-size: (14/@vw);
            text-align: center;
            border-radius: 100%;
            border: 1px solid rgba(187, 187, 187, 1);
        }
    }
}



.footer_nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0px;
    bottom: 0px;
    width: (395/@vw);
    height: (80/@vw);
    padding: 0 (25/@vw);
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);

    .common {
        margin-bottom: (20/@vw);
        width: (84/@vw);
        height: (84/@vw);
        background-color: rgba(255, 255, 255, 1);
        color: rgba(16, 16, 16, 1);
        font-size: (14 / @vw);
        line-height: (84/@vw);
        text-align: center;
        border-radius: 100%;
        border: 1px solid rgba(187, 187, 187, 1);
        overflow: hidden;
        a {
            display: inline-block;
            width: (84/@vw);
            height: (84/@vw);
        }
    }

    .function {
        margin-bottom: (45/@vw);
        width: (122/@vw);
        height: (122/@vw);
        line-height: (122/@vw);
        background-color: rgba(190, 190, 190, 1);
        background-image: url(../images/功能图标.jpg);
        background-size: cover;
        font-size: (36 / @vw);
        text-align: center;
        border-radius: 100%;
        border: 1px solid rgba(187, 187, 187, 1);

        a {
            color: rgb(0, 0, 0);
            display: inline-block;
            width: (122/@vw);
            height: (122/@vw);
        }
    }
}