//out:../css/

@import 'base';
@import 'fri_slidebox';
@vw:3.95vw;

.main{
    position: relative;
    margin: 0 (15/@vw);
    margin-top: (54/@vw);
    margin-bottom: (98/@vw);
    width: (365/@vw);
    height: (685/@vw);
    border-radius: (25/@vw);
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);

    .container{
        position: relative;
        width: 100%;
        height: (195/@vw);

        .head_portrait{
            position: absolute;
            margin-top: (50/@vw);
            margin-left: (9/@vw);
            width: (144/@vw);
            height: (144/@vw);
            border-radius: 100%;
            background-image: url(../images/头像女-1.jpg);
            background-size: cover;
            color: rgba(16, 16, 16, 1);
            font-size: (14/@vw);
            line-height: (144/@vw);
            // border: 1px solid rgba(187, 187, 187, 1);

            .head_box{
                width: (144/@vw);
                height: (144/@vw);
                border-radius: 100%;
                position: relative;

                input{
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    border-radius: 100%;
                    transform: translate(-50%, -50%);
                    z-index: 11;
                }
            }
        }

        .show{
            position: absolute;
            left: (160/@vw);
            top: (70/@vw);

            .name{
                height: (31/@vw);
                color: rgba(16, 16, 16, 1);
                font-size: (20/@vw);
                
            }

            .id{
                height: (20/@vw);
                color: rgba(16, 16, 16, 1);
                font-size: (14/@vw);
                text-align: left;
            }
        }
        
        .setting_fri{
            position: absolute;
            right: (25/@vw);
            top: (16/@vw);
    
            .setting{
                width: (48/@vw);
                height: (48/@vw);
                line-height: (48/@vw);
                background-image: url(../images/设置-2.png);
                background-size: cover;
                color: rgba(16, 16, 16, 1);
                font-size: (14/@vw);
                text-align: center;
                border-radius: 100%;
                overflow: hidden;

                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
            }
    
            .fri{
                margin-top: (8/@vw);
                width: (48/@vw);
                height: (48/@vw);
                background-image: url(../images/好友.png);
                background-size: cover;
                color: rgba(16, 16, 16, 1);
                font-size: (14/@vw);
                text-align: center;
                border-radius: 100%;
            }
        }
    }

    
    .daily{
        display: flex;
        justify-content: space-between;
        margin: 0 (37/@vw);
        margin-top: (19/@vw);
        padding-left: (20/@vw);
        padding-right: (12/@vw);
        width: (291/@vw);
        height: (117/@vw);
        background-color: rgba(255, 255, 255, 1);
        text-align: center;
        border: 1px solid rgba(187, 187, 187, 1);

        .clock{
            margin: (12/@vw) 0;
            width: (78/@vw);
            height: (93/@vw);
            line-height:  (93/@vw);
            border-radius: (21/@vw);
            background-color: rgba(255, 255, 255, 1);
            color: rgba(16, 16, 16, 1);
            font-size: (14/@vw);
            text-align: center;
            border: 1px solid rgba(187, 187, 187, 1);
        }

        .right{
            margin: (12/@vw) 0;
            width: (173/@vw);
            height: (93/@vw);

            .points{
                width: 100%;
                height: (45/@vw);
                background-image: url(../images/积分.png);
                background-size: cover;
                color: rgba(16, 16, 16, 1);
                font-size: (14/@vw);
                text-align: center;
                border-radius: (18/@vw);
            }

            .blank{
                margin-top: (10/@vw);
                width: 100%;
                height: (35/@vw);
                line-height: (35/@vw);
                background-color: rgba(255, 255, 255, 1);
                color: rgba(16, 16, 16, 1);
                font-size: (14/@vw);
                text-align: center;
                border-radius: (18/@vw);
                border: 1px solid rgba(187, 187, 187, 1);
                a{
                    display: block;
                }
            }
        }
    }

    .p_m{
        margin: 0 (37/@vw);
        margin-top: (8/@vw);
        width: (291/@vw);
        height: (303/@vw);
        background-color: rgba(255, 255, 255, 1);
        color: rgba(16, 16, 16, 1);
        font-size: (14/@vw);
        text-align: center;
        border-radius: (37/@vw);
        border: 1px solid rgba(187, 187, 187, 1);

        .tab{
            display: flex;
            justify-content: space-between;
            margin-top: (8/@vw);
            margin-left: (28/@vw);
            width: (120/@vw);
            height: (32/@vw);
            line-height: (32/@vw);
            text-align: left;

            a{
                display: block;
            }
            
            .active a{
                color: #1684fc;
                border-bottom: 2px solid #1684fc;
            }
           
        }

        .common{
            margin: 0 (16/@vw);
            margin-top: (8/@vw);
            width: (259/@vw);
            height: (240/@vw);
            line-height: (240/@vw);
            background-color: rgba(255, 255, 255, 1);
            color: rgba(16, 16, 16, 1);
            font-size: (14/@vw);
            text-align: center;
        }

        .plans{
            display: none;     
        }

        .memory{
            display: block;
        }
    }
}
footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: (395/@vw);
    height: (80/@vw);
    background-color: rgba(255, 255, 255, 1);
    text-align: center;

    .footer_nav{
        position: relative;
        display: flex;
        background-color: rgb(95, 183, 234);
        height: (80/@vw);
        li a{
            color: var(--color-nav);
            width: 125px;
            height: 100%;
            /* 转为行内元素 */
            display: inline-grid;
            /* 垂直居中 */
            place-items: center;
            font-size: (40/@vw);
            z-index: 1;
            /* 相对定位 */
            position: relative;
            /* 溢出隐藏 */
            overflow: hidden;

            .title{
                display: none;
            }

            &:hover{
                color: #fff;
            }

            .iconfont{
                font-size: (30/@vw);
            }

            &.nav_item_active{
                color: #fff;
                /* 上下移动 */
                transform: translateY(-20%);
                font-size: 45px;
                /* 使用贝塞尔曲线 */
                transition: transform 0.5s cubic-bezier(0.175,0.885,0.32,1.275);
            }

            &.nav_item_active .title{
                display: block;
                font-size: (16/@vw);
            }
        }

        .nav_indicator{
            width: (90/@vw);
            height: (90/@vw);
            border-radius: 50%;
            background-color: rgb(95, 183, 234);
            position: absolute;
            top: -35px;
            left: calc(265px);
            z-index: 1;
            /* 贝塞尔曲线 */
            transition: left 0.5s cubic-bezier(0.175,0.885,0.32,1.275);
        }
    }
}